@layer base {
	* {
		@apply box-border border-border outline-ring/50 antialiased overscroll-none;
	}

	body {
		@apply bg-background text-foreground;
		font-synthesis-weight: none;
		font-variant-numeric: tabular-nums lining-nums;
		font-optical-sizing: auto;
		text-rendering: optimizeLegibility;
	}

	pre::-webkit-scrollbar {
		width: 5px;
	}
	pre::-webkit-scrollbar-track {
		background: transparent;
	}
	pre::-webkit-scrollbar-thumb {
		background: var(--border);
		border-radius: 5px;
	}
	pre {
		scrollbar-width: thin;
		scrollbar-color: var(--border) transparent;
	}
}
