/* Geist Sans */
@font-face {
	font-family: "Geist";
	src: url("/fonts/geist-sans/Geist[wght].woff2") format("woff2-variations");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Geist";
	src: url("/fonts/geist-sans/Geist-Italic[wght].woff2") format("woff2-variations");
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

/* Geist Mono */
@font-face {
	font-family: "Geist Mono";
	src: url("/fonts/geist-mono/GeistMono[wght].woff2") format("woff2-variations");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Geist Mono";
	src: url("/fonts/geist-mono/GeistMono-Italic[wght].woff2") format("woff2-variations");
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

:root {
	--geist-sans: "Geist", Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;
	--geist-mono: "Geist Mono", monospace;
}

@theme {
	--font-geist-sans: var(--geist-sans);
	--font-geist-mono: var(--geist-mono);
}
