@import "tailwindcss";

@source "../../../../packages/ui/**/*.{ts,tsx}";

@import "@hoalu/ui/theme.css";
@import "./fonts.css";
@import "./typography.css";
@import "./table.css";

@plugin "tailwind-scrollbar";
@plugin "@tailwindcss/typography";

@layer base {
  * {
    @apply box-border border-border;
  }

  body {
    @apply relative bg-background text-foreground overscroll-none antialiased font-sans;
    font-synthesis-weight: none;
    font-variant-numeric: tabular-nums lining-nums;
    font-optical-sizing: auto;
    text-rendering: optimizeLegibility;
  }

  html,
  body {
    @apply w-full min-h-screen;
  }
}

.tiptap p.is-editor-empty:first-child::before {
	color: var(--muted-foreground);
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
}


