@theme inline {
  --header-name-size: 200px;
  --col-name-size: 200px;

  --header-date-size: 120px;
  --col-date-size: 120px;

  --header-category-size: 180px;
  --col-category-size: 180px;

  --header-wallet-size: 180px;
  --col-wallet-size: 180px;

  --header-amount-size: 180px;
  --col-amount-size: 180px;

  --header-action-size: 48px;
  --col-action-size: 48px;
}
