@theme inline {
	--header-name-size: 200px;
	--col-name-size: 200px;

	--header-date-size: 120px;
	--col-date-size: 120px;

	--header-category-size: 200px;
	--col-category-size: 200px;

	--header-wallet-size: 150px;
	--col-wallet-size: 150px;

	--header-amount-size: 200px;
	--col-amount-size: 200px;

	--header-action-size: 48px;
	--col-action-size: 48px;
}
