# dependencies
node_modules

build
dist
out
pg-data
.output
.vinxi
.wrangler
.dev.vars
.turbo
.next

# debug
npm-debug.log*
.pnpm-debug.log*

# local env files
.env
.env.*
!.env.template
!.env.example

# misc
.DS_Store
*.pem

# react-email
.react-email
