node_modules
build
dist
dist-ssr
dev-dist
out
pg-data
.output
.wrangler
.dev.vars
.turbo
.next
.tanstack
.react-email

npm-debug.log*
.pnpm-debug.log*

.env
.env.*
.sql
!.env.template
!.env.example

.DS_Store
*.pem
.playwright-mcp
.playwright-cli
