:root,
.light {
	--radius: 0.5rem;

	--background: var(--color-white);
	--foreground: var(--color-zinc-900);
	--card: var(--color-white);
	--card-foreground: var(--color-zinc-900);
	--popover: var(--color-white);
	--popover-foreground: var(--color-zinc-900);
	--primary: var(--color-zinc-800);
	--primary-foreground: var(--color-zinc-50);
	--secondary: --alpha(var(--color-black) / 4%);
	--secondary-foreground: var(--color-zinc-900);
	--muted: --alpha(var(--color-black) / 4%);
	--muted-foreground: var(--color-zinc-600);
	--accent: --alpha(var(--color-black) / 4%);
	--accent-foreground: var(--color-zinc-900);
	--destructive: var(--color-red-500);
	--destructive-foreground: var(--color-red-700);
	--info: var(--color-blue-500);
	--info-foreground: var(--color-blue-700);
	--success: var(--color-emerald-500);
	--success-foreground: var(--color-emerald-700);
	--warning: var(--color-amber-500);
	--warning-foreground: var(--color-amber-700);
	--border: --alpha(var(--color-black) / 12%);
	--input: --alpha(var(--color-black) / 12%);
	--ring: var(--color-zinc-400);

	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);

	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

.dark {
	--radius: 0.5rem;

	--background: var(--color-zinc-950);
	--foreground: var(--color-zinc-100);
	--card: color-mix(in srgb, var(--color-zinc-900) 80%, var(--color-zinc-950));
	--card-foreground: var(--color-zinc-100);
	--popover: var(--color-zinc-900);
	--popover-foreground: var(--color-zinc-100);
	--primary: var(--color-zinc-100);
	--primary-foreground: var(--color-zinc-900);
	--secondary: --alpha(var(--color-white) / 6%);
	--secondary-foreground: var(--color-zinc-100);
	--muted: --alpha(var(--color-white) / 6%);
	--muted-foreground: var(--color-zinc-400);
	--accent: --alpha(var(--color-white) / 6%);
	--accent-foreground: var(--color-zinc-100);
	--destructive: var(--color-red-500);
	--destructive-foreground: var(--color-red-400);
	--info: var(--color-blue-500);
	--info-foreground: var(--color-blue-400);
	--success: var(--color-emerald-500);
	--success-foreground: var(--color-emerald-400);
	--warning: var(--color-amber-500);
	--warning-foreground: var(--color-amber-400);
	--border: --alpha(var(--color-white) / 12%);
	--input: --alpha(var(--color-white) / 12%);
	--ring: var(--color-zinc-500);

	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);

	--sidebar: oklch(0.145 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}
