.miasma {
	--background: #222222;
	--foreground: #c2c2b0;
	--card: #2a2a2a;
	--card-foreground: #c2c2b0;
	--popover: #222222;
	--popover-foreground: #c2c2b0;
	--primary: #78824b;
	--primary-foreground: #222222;
	--secondary: #333333;
	--secondary-foreground: #c2c2b0;
	--muted: #333333;
	--muted-foreground: #666666;
	--accent: #c9a554;
	--accent-foreground: #222222;
	--destructive: #b96f6f;
	--destructive-foreground: #222222;
	--border: #444444;
	--input: #444444;
	--ring: #78824b;

	--info: var(--color-blue-500);
	--info-foreground: var(--color-blue-400);
	--success: #5f875f;
	--success-foreground: var(--color-emerald-400);
	--warning: #c9a554;
	--warning-foreground: var(--color-amber-400);

	--chart-1: #78824b;
	--chart-2: #5f875f;
	--chart-3: #c9a554;
	--chart-4: #bb7744;
	--chart-5: #b36d43;

	--sidebar: #1a1a1a;
	--sidebar-foreground: #c2c2b0;
	--sidebar-primary: #78824b;
	--sidebar-primary-foreground: #222222;
	--sidebar-accent: #333333;
	--sidebar-accent-foreground: #c2c2b0;
	--sidebar-border: #444444;
	--sidebar-ring: #78824b;

	--radius: 0.5rem;
	--shadow-x: 0;
	--shadow-y: 1px;
	--shadow-blur: 3px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.1;
	--shadow-color: oklch(0 0 0);
	--shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
	--shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
	--shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
	--tracking-normal: 0em;
	--spacing: 0.25rem;
}
