@import "tailwindcss";
@import "tw-animate-css";

@import "./themes/default.css";
@import "./themes/creamy.css";
@import "./themes/deluge.css";

@custom-variant dark (&:is(.dark *));

@layer base {
	* {
		@apply border-border outline-ring/50 antialiased;
	}
	body {
		@apply bg-background text-foreground;
	}

	pre::-webkit-scrollbar {
		width: 5px;
	}
	pre::-webkit-scrollbar-track {
		background: transparent;
	}
	pre::-webkit-scrollbar-thumb {
		background: var(--border);
		border-radius: 5px;
	}
	pre {
		scrollbar-width: thin;
		scrollbar-color: var(--border) transparent;
	}
}
